@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');



body {
  margin: 0;
  padding: 0;
  background: #0D2235;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}